<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/static/index.css">
</head>

<body>
	<h1>Hola!!</h1>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est dolores dolorum unde veniam, deleniti at repudiandae
		commodi voluptatibus maiores facilis sint ea nobis voluptatum saepe labore voluptates quod enim corporis?</p>
	<h2>{{info.nombre}}</h2>
	<h2>Estudiante de ingenieria IX</h2>
	<h2>Universidad de Cundinamarca</h2>
	<h2>Facultad de ingenieria</h2>
	<h2>Programacion web</h2>
</body>

</html>